<div class="row" style="background-image: linear-gradient(180deg, #050608, #18273c);">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <h1 style="color:aliceblue;">Steam Support</h1>  
            <h4 style="color: #3d97d1;">What do you need help with?</h4>
        </div>
        <div class="row">   
            <div class="row" style="background-color: #0D1928;">
                <h5 style="color: aliceblue;">Sign in to your Steam account to review purchases, account status, and get personalized help.</h5>
                <div class="col-6">
                    <button class="border-0" style="background-color: #67c1f8; color: aliceblue;">Sign in to Steam</button>
                </div>
                <div class="col-6">
                    <button class="border-0" style="background-color: #2D3D50; color: aliceblue;">Help, I can't sign in</button>
                </div>
            </div>
        </div>
        <div class="row">
            <h5 style="color: #3d97d1;">POPULAR PRODUCTS</h5>
            <button class="border-0" style="background-color: #445468;">
                <div class="row">
                    <div class="col-1"><img src="assets/counter-strike.png" alt=""></div>
                    <div class="col-10"><a style="color: aliceblue;">Counter-Strike: Global Offensive</a></div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="max-content" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                    </div>
                </div>
            </button>
        </div>    
    </div>
    <div class="col-2"></div>
</div>
