<div class="row" style="background-image: linear-gradient(180deg, #050608, #18273c);">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <h1 style="color:aliceblue;">Steam Support</h1>  
            <h4 style="color: #3d97d1;">What do you need help with?</h4>
        </div>
        <div class="row">   
            <div class="row" style="background-color: #0D1928;">
                <h5 style="color: aliceblue;">Sign in to your Steam account to review purchases, account status, and get personalized help.</h5>
                <div class="col-6">
                    <button class="border-0" style="background-color: #67c1f8; color: aliceblue;">Sign in to Steam</button>
                </div>
                <div class="col-6">
                    <button class="border-0" style="background-color: #2D3D50; color: aliceblue;">Help, I can't sign in</button>
                </div>
            </div>
        </div>
        <div class="row">
            <h5 style="color: #3d97d1;">POPULAR PRODUCTS</h5>
            <li *ngFor="let button of buttons">
                <app-support-button image={{button.image}} game={{button.game}}></app-support-button> 
            </li>
        </div>
        <hr class="hr" style="color: #3b718d;"/>
        <div class="row">
            <li *ngFor="let button of buttonsTwo">
                <app-support-button-two text={{button.text}}></app-support-button-two>
            </li>
        </div>
    </div>
    <div class="col-2"></div>
</div>
