<nav class="navbar fixed-bottom navbar-dark navbar-nav" style="background-color: #171A21; height: 160px;">
    <div class="block1">
        <a class="navbar-brand" href="#">
            <img src="assets/footerLogo_valve_new.png" width="88" height="30" alt="">
          </a>
        <span class="navbar-text">
            © 2023 Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.
            VAT included in all prices where applicable.
        </span>
        <a class="navbar-brand" href="#">
            <img src="assets/logo_steam_footer.png" width="88" height="30" alt="">
          </a>
    </div>
</nav>
