<nav class="navbar">
  <a class="navbar-brand" href="#">
    <img src="assets/logo_steam.png" width="176" height="44" alt="">
  </a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Store
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Home</a></li>
      <li><a class="dropdown-item" href="#">Discovery Queue</a></li>
      <li><a class="dropdown-item" href="#">Wishlist</a></li>
      <li><a class="dropdown-item" href="#">Points Shop</a></li>
      <li><a class="dropdown-item" href="#">News</a></li>
      <li><a class="dropdown-item" href="#">Stats</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Community
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Home</a></li>
      <li><a class="dropdown-item" href="#">Discussions</a></li>
      <li><a class="dropdown-item" href="#">Workshop</a></li>
      <li><a class="dropdown-item" href="#">Market</a></li>
      <li><a class="dropdown-item" href="#">Broadcasts</a></li>
    </ul>
  </div>
  <button type="button" class="button">About</button>
  <button type="button" class="button">Support</button>
</nav>