.button-color {
    color: #8d8c8d;
}

.dropdown-color {
    background-color: #171a21;
}

.image-padding {
    margin-left: 20px;
    margin-right: 0px;
}

.button-padding {
    margin-right: 1020px;
    margin-left: 0px;

}