<nav class="navbar navbar-dark" style="background-color: #171A21;">
  <a class="navbar-brand image-padding" href="#">
    <img src="assets/logo_steam.png" width="176" height="44" alt="">
  </a>
  <div class="btn-group button-padding" role="toolbar">
    <div class="dropdown">
      <button class="btn button-color dropdown border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Store
      </button>
      <ul class="dropdown-menu dropdown-color">
        <li><a class="dropdown-item button-color" href="#">Home</a></li>
        <li><a class="dropdown-item button-color" href="#">Discovery Queue</a></li>
        <li><a class="dropdown-item button-color" href="#">Wishlist</a></li>
        <li><a class="dropdown-item button-color" href="#">Points Shop</a></li>
        <li><a class="dropdown-item button-color" href="#">News</a></li>
        <li><a class="dropdown-item button-color" href="#">Stats</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn button-color dropdown border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Community
      </button>
      <ul class="dropdown-menu dropdown-color">
        <li><a class="dropdown-item button-color" href="#">Home</a></li>
        <li><a class="dropdown-item button-color" href="#">Discussions</a></li>
        <li><a class="dropdown-item button-color" href="#">Workshop</a></li>
        <li><a class="dropdown-item button-color" href="#">Market</a></li>
        <li><a class="dropdown-item button-color" href="#">Broadcasts</a></li>
      </ul>
    </div>
    <button type="button" class="btn button-color border-0">About</button>
    <button type="button" class="btn button-color border-0">Support</button>
  </div>
</nav>