<div class="row" style="background-color: #183a4b;">
    <div class="col-2"> </div>
    <div class="col-8">
        <div class="row">
            <app-top-navigation-two> </app-top-navigation-two>
        </div>
        <div class="row">
            <h1 style="color: aliceblue;">STEAM GIFT CARDS</h1>
            <h6 style="color: aliceblue;">GIVE THE PERFECT GIFT OF GAMES TO YOUR FRIEND OR FAMILY MEMBER</h6>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="assets/steamcards_cards_02.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-3">
                <div class="row">
                    <h5 style="color: aliceblue"> Digital Gift Cards</h5>
                    <p class="text" style="color: aliceblue;">Now you can directly contribute to a friend or family member's Steam wallet online.</p>
                </div>
                <div class="row">
                   <p class="text" style="color: aliceblue;">Simply log into Steam, select a Steam Friend and a gift amount, and we'll do all the rest.</p>
                </div>
                <div class="row">
                    <button class="button-format">Send through Steam</button>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <h5 style="color: aliceblue">Redeem a Physcial Gift Card</h5>
                    <button class="button-format">Continue</button>
                </div>
                <div class="row">
                    <h5 style="color: aliceblue">Physical Gift Cards</h5>
                    <p class="text" style="color: aliceblue;">For those times when a gift in the hand is the way to go, you'll find Steam Gift Cards at retail stores across the world in a variety of denominations.</p>
                </div>
                <div class="row">
                    <p class="text" style="color: aliceblue;">Physical Gift Cards are also a great option when you have cash in hand and want to spend it on Steam.</p>
                    <button class="button-format">Find in your area</button>
                </div>
                
                <h6 style="color: aliceblue">Physical Gift Cards</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <h5 style="color: aliceblue">About Steam Gift Cards</h5>
                <p class="text" style="color: aliceblue;">Steam Gift Cards work just like gift certificates, which can be redeemed on Steam for the purchase of games, software, hardware, and any other item you can purchase on Steam.</p>
                <button class="button-format">More about Steam Gift Cards</button>
            </div>

        </div>    
    <div>
    <div class="col-2"> </div>
</div>