.button-color {
    color: #DBDDDF;
}

.button-hover:hover {
    background-image: linear-gradient(90deg, #4890C2, transparent);
}

.navbarprop {
    background-image: linear-gradient(110deg, #395F8A, #0F216E);
    width: 820px;
    height: 45px;
}

.dropdown-color {
    background-image: linear-gradient(320deg, #2c2f36, #515f6f);
}

.dgroup {
    float: left;
}

.search-style {
    background-color: #316282;
    border-style: none;
    border-color: #539AC5;
    font-size: 12px;
    width: 210px;
    height: 25px;
    margin: 0;
}

.search-hover:hover {
    border-color: #539AC5;
    border-style: solid;
}

.search-button-style {
    background-color: #539AC5;
}

.mag-color {
    background-color: #30506E;
}

.new-note-size {
    font-size: 12px;
    width: 145.46px;
    height: 35px;
    margin: 0px;
}

.categories-size {
    font-size: 12px;
    width: 97.85px;
    height: 35px;
    margin: 0px;
}

.points-size {
    font-size: 12px;
    width: 107.84px;
    height: 35px;
    margin: 0px;
}

.labs-size {
    font-size: 12px;
    width: 62.35px;
    height: 40px;
    margin: 0px;
}

.news-size {
    font-size: 12px;
    width: 65.96px;
    height: 35px;
    margin: 0px;
}

.store-size {
    width: 96.11px;
    height: 35px;
    font-size: 12px;
    margin: 0px;
    border-style: square;
}

.search-button {
    height: 35px;
    width: 35px;
    margin-right: 0px;
}

.zero-margin {
    margin: 0px;
    margin-top: 0px;
}

