    <nav class="navbar navbarprop margin-top" style="margin-top: 27px;">
        <div class="dropdown">
            <button class="btn bcolor button-hover dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Your Store
            </button>
            <ul class="dropdown-menu dcolor">
                <li><a class="dropdown-item bcolor" href="#">Home</a></li>
                <li><a class="dropdown-item bcolor" href="#">Community Recommendations</a></li>
                <li><a class="dropdown-item bcolor" href="#">Recently Viewed</a></li>
                <li><a class="dropdown-item bcolor" href="#">Steam Curators</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn bcolor button-hover dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                New & Noteworthy
            </button>
            <ul class="dropdown-menu dcolor">
                <li><a class="dropdown-item bcolor" href="#">Steam Replay 2022</a></li>
                <li><a class="dropdown-item bcolor" href="#">Top Sellers</a></li>
                <li><a class="dropdown-item bcolor" href="#">Most Played</a></li>
                <li><a class="dropdown-item bcolor" href="#">New & Trending</a></li>
                <li><a class="dropdown-item bcolor" href="#">Special Offers</a></li>
                <li><a class="dropdown-item bcolor" href="#">Recently Updated</a></li>
                <li><a class="dropdown-item bcolor" href="#">Popular Upcoming</a></li>
            </ul>
        </div>
        <div class="catmodel"><button type="button" class="btn bcolor button-hover"button>Categories</button></div>
        <button type="button" class="btn bcolor button-hover"button>Points Shop</button>
        <button type="button" class="btn bcolor button-hover"button>News</button>
        <button type="button" class="btn bcolor button-hover"button>Labs</button>
    </nav>

