<nav class="navbar">
    <div class="dropdown">
        <button class="btn btn-secondary-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Your Store
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Home</a></li>
            <li><a class="dropdown-item" href="#">Community Recommendations</a></li>
            <li><a class="dropdown-item" href="#">Recently Viewed</a></li>
            <li><a class="dropdown-item" href="#">Steam Curators</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            New & Noteworthy
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Steam Replay 2022</a></li>
            <li><a class="dropdown-item" href="#">Top Sellers</a></li>
            <li><a class="dropdown-item" href="#">Most Played</a></li>
            <li><a class="dropdown-item" href="#">New & Trending</a></li>
            <li><a class="dropdown-item" href="#">Special Offers</a></li>
            <li><a class="dropdown-item" href="#">Recently Updated</a></li>
            <li><a class="dropdown-item" href="#">Popular Upcoming</a></li>
        </ul>
    </div>
    <button type="button" class=""button>Categories</button>
    <button type="button" class=""button>Points Shop</button>
    <button type="button" class=""button>News</button>
    <button type="button" class=""button>Labs</button>
</nav>
