    <nav class="navbar navbarprop">
        <div class="btn-group zero-margin" role="group">
        <div class="dropdown">
            <button class="btn button-color button-hover dropdown store-size border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Your Store
            </button>
            <ul class="dropdown-menu border-0 dropdown-color">
                <li><a class="dropdown-item button-color" href="#">Home</a></li>
                <li><a class="dropdown-item button-color" href="#">Community Recommendations</a></li>
                <li><a class="dropdown-item button-color" href="#">Recently Viewed</a></li>
                <li><a class="dropdown-item button-color" href="#">Steam Curators</a></li>
            </ul>
        </div>
        
        <div class="dropdown">
            <button class="btn button-color button-hover dropdown new-note-size border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                New & Noteworthy
            </button>
            <ul class="dropdown-menu border-0 dropdown-color">
                <li><a class="dropdown-item button-color" href="#">Steam Replay 2022</a></li>
                <li><a class="dropdown-item button-color" href="#">Top Sellers</a></li>
                <li><a class="dropdown-item button-color" href="#">Most Played</a></li>
                <li><a class="dropdown-item button-color" href="#">New & Trending</a></li>
                <li><a class="dropdown-item button-color" href="#">Special Offers</a></li>
                <li><a class="dropdown-item button-color" href="#">Recently Updated</a></li>
                <li><a class="dropdown-item button-color" href="#">Popular Upcoming</a></li>
            </ul>
        </div>
        <div class="catmodel"><button type="button" class="btn button-color button-hover categories-size"button>Categories</button></div>
            <button type="button" class="btn button-color button-hover border-0 points-size"button>Points Shop</button>
            <button type="button" class="btn button-color button-hover border-0 news-size"button>News</button>
            <button type="button" class="btn button-color button-hover border-0 labs-size"button>Labs</button>
            <nav class="navbar bg-body-tertiary">
                <form>
                <div class="input-group ">
                    <input type="text" class="form-control search-style search-hover" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                    <span class="input-group-text search-button-style border border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6px" height="6px" fill="#30506E">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </span>
                </div>
                </form>
            </nav>
        </div>
    </nav>

