<div style="margin-left: 17%; color: aliceblue;"><br> BROWSE STEAM</div>
<div class="btn-group" role="group" aria-label="" style="width: 820.0001px; height: 50px; margin-left: 17%;">
    <button type="button" class="btn button-style border-0" style="margin:5px; height: 50px; width:200px;">New Releases</button>
    <button type="button" class="btn button-style border-0" style="margin:5px; height: 50px; width:200px" >Specials</button>
    <button type="button" class="btn button-style border-0" style="margin:5px; height: 50px; width:200px">Free Games</button>
    <button type="button" class="btn button-style border-0" style="margin:5px; height: 50px; width:200px">By User Tags</button>
  </div>