<div class="btn-group d-flex" role="group" aria-label="">
    <button type="button" class="btn button-style border-0" style="border-radius: 10px / 10px;">New Releases</button>   
    <button type="button" class="btn button-style border-0" style="border-radius: 10px / 10px;" >Specials</button>
    <button type="button" class="btn button-style border-0" style="border-radius: 10px / 10px;">Free Games</button>
    <button type="button" class="btn button-style border-0" style="border-radius: 10px / 10px;">By User Tags</button>
</div>