<div class="global">
    <app-top-nav-bar> </app-top-nav-bar>
    <div class="row">
            <div class="row">
                <div class="col-2">
                    <app-side-menu></app-side-menu>
                </div>
                <div class="col-8">
                    <app-top-navigation-two> </app-top-navigation-two>
                    <app-browse-menu></app-browse-menu>
                    <app-carouselone></app-carouselone>
                </div>
                <div class="col-2"></div>
            </div>    
    </div>
    <app-bottom-nav-bar> </app-bottom-nav-bar>
</div>