<div class="d-flex flex-column p-3 menu-format" style="width: 17%; margin: 0%;">
    <button class="btn">
        <img class="image-format" src="assets/steamcards_promo_02.png">
    </button>
    <p class="text-start header-text-format">Gift Cards</p>
        <button class="btn button-format button-hover text-left border-0">Now Available on Steam</button>
    <p class="text-start header-text-format">Recommended</p>
        <div>
            <img class="image-format" src="assets/store_menu_icons.png">
            <button class="btn button-format button-hover text-left">By Friends</button>
        </div>
        <button class="btn button-format button-hover text-left border-0">By Curators</button>
        <button class="btn button-format button-hover text-left border-0">Tags</button>
    <p class="text-start header-text-format">Discovery Queues</p>
        <button class="btn button-format button-hover text-left border-0">Recommendations</button>
        <button class="btn button-format button-hover text-left border-0">New Releases</button>
    <p class="text-start header-text-format">Browse Categories</p>
        <button class="btn button-format button-hover text-left border-0">Top Sellers</button>
        <button class="btn button-format button-hover text-left border-0">New Releases</button>
        <button class="btn button-format button-hover text-left border-0">Upcoming</button>
        <button class="btn button-format button-hover text-left border-0">Specials</button>
        <button class="btn button-format button-hover text-left border-0">VR Titles</button>
        <button class="btn button-format button-hover text-left border-0">Controller-Friendly</button>
    <p class="text-start header-text-format">Browse By Genre</p>
        <button class="btn button-format button-hover text-left border-0">Free to Play</button>
        <button class="btn button-format button-hover text-left border-0">Early Access</button>
        <button class="btn button-format button-hover text-left border-0">Action</button>
        <button class="btn button-format button-hover text-left border-0">Adventure</button>
        <button class="btn button-format button-hover text-left border-0">Casual</button>
        <button class="btn button-format button-hover text-left border-0">Indie</button>
        <button class="btn button-format button-hover text-left border-0">Massively Multiplayer</button>
        <button class="btn button-format button-hover text-left border-0">Racing</button>
        <button class="btn button-format button-hover text-left border-0">RPG</button>
        <button class="btn button-format button-hover text-left border-0">Simulation</button>
        <button class="btn button-format button-hover text-left border-0">Sports</button>
        <button class="btn button-format button-hover text-left border-0">Strategy</button>
  </div>
