<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <button class="btn">
        <img class="" src="assets/steamcards_promo_02.png">
    </button>
    <hr>
    <p class="text-start">Gift Cards</p>
        <button class="btn">Now Available on Steam</button>
    <p class="text-start">Recommended</p>
        <button class="btn">By Friends</button>
        <button class="btn">By Curators</button>
        <button class="btn">Tags</button>
    <p class="text-start">Discovery Queues</p>
        <button class="btn">Recommendations</button>
        <button class="btn">New Releases</button>
    <p class="text-start">Browse Categories</p>
        <button class="btn">Top Sellers</button>
        <button class="btn">New Releases</button>
        <button class="btn">Upcoming</button>
        <button class="btn">Specials</button>
        <button class="btn">VR Titles</button>
        <button class="btn">Controller-Friendly</button>
    <p class="text-start">Browse By Genre</p>
        <button class="btn">Free to Play</button>
        <button class="btn">Early Access</button>
        <button class="btn">Action</button>
        <button class="btn">Adventure</button>
        <button class="btn">Casual</button>
        <button class="btn">Indie</button>
        <button class="btn">Massively Multiplayer</button>
        <button class="btn">Racing</button>
        <button class="btn">RPG</button>
        <button class="btn">Simulation</button>
        <button class="btn">Sports</button>
        <button class="btn">Strategy</button>
  </div>
