<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <button class="btn">
        <img class="" src="assets/steamcards_promo_02.png">
    </button>
    <hr>
    <p class="text-start">Gift Cards</p>
        <button class="btn button-format text-left">Now Available on Steam</button>
    <p class="text-start">Recommended</p>
        <button class="btn button-format">By Friends</button>
        <button class="btn button-format">By Curators</button>
        <button class="btn">Tags</button>
    <p class="text-start">Discovery Queues</p>
        <button class="btn button-format">Recommendations</button>
        <button class="btn button-format">New Releases</button>
    <p class="text-start">Browse Categories</p>
        <button class="btn button-format">Top Sellers</button>
        <button class="btn button-format">New Releases</button>
        <button class="btn button-format">Upcoming</button>
        <button class="btn button-format">Specials</button>
        <button class="btn button-format">VR Titles</button>
        <button class="btn button-format">Controller-Friendly</button>
    <p class="text-start">Browse By Genre</p>
        <button class="btn button-format">Free to Play</button>
        <button class="btn button-format">Early Access</button>
        <button class="btn button-format">Action</button>
        <button class="btn button-format">Adventure</button>
        <button class="btn button-format">Casual</button>
        <button class="btn button-format">Indie</button>
        <button class="btn button-format">Massively Multiplayer</button>
        <button class="btn button-format">Racing</button>
        <button class="btn button-format">RPG</button>
        <button class="btn button-format">Simulation</button>
        <button class="btn button-format">Sports</button>
        <button class="btn button-format">Strategy</button>
  </div>
