<div class="row" style="background-color: slategray;">
        <div class="col-8" style="padding: 0%;">
            <img class="img-fluid" src="{{mainImg}}" alt="Card image cap">
        </div>
        <div class="col-4">
            <div class="row"><div>{{title}}</div></div>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid mx-auto" style="max-width: 100%; max-height: 100%;"src="assets/{{tile1}}" alt="Card image cap">
                </div>
                <div class="col-6">
                    <img class="img-fluid mx-auto" style="max-width: 100%; max-height: 100%;" src="assets/{{tile2}}" alt="Card image cap">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img lass="img-fluid" style="max-width: 100%; max-height: 100%;" src="assets/{{tile3}}" src="assets/jed_survival3.png" alt="Card image cap">
                </div>
                <div class="col-6">
                    <img lass="img-fluid" style="max-width: 100%; max-height: 100%;" src="assets/{{tile4}}" src="assets/jed_survival4.png" alt="Card image cap">
                </div>
            </div>    
            <div class="row">Now Available:</div>
            <div class="row">${{price}}</div>
        </div>
    </div>
