<div class="row" style="background-color: slategray;">
        <div class="col-8">
            <img class="img" src="assets/jed_survival_main.png" alt="Card image cap">
        </div>
        <div class="col-4">
            <div class="row"><div>STAR WARS: Jedi SURVIVOR TM</div></div>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid mx-auto" style="max-width: 100%; max-height: 100%;"src="assets/jed_survival1.png" alt="Card image cap">
                </div>
                <div class="col-6">
                    <img class="img-fluid mx-auto" style="max-width: 100%; max-height: 100%;"src="assets/jed_survival1.png"src="assets/jed_survival2.png" alt="Card image cap">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img lass="img-fluid" style="max-width: 100%; max-height: 100%;"src="assets/jed_survival1.png" src="assets/jed_survival3.png" alt="Card image cap">
                </div>
                <div class="col-6">
                    <img lass="img-fluid" style="max-width: 100%; max-height: 100%;"src="assets/jed_survival1.png" src="assets/jed_survival4.png" alt="Card image cap">
                </div>
            </div>    
            <div class="row">Now Available:</div>
            <div class="row">$69.99</div>
            

        </div>
    </div>
