<div class="container">
    <div class="row">
        <div class="col-8">
            <form #postForm="ngForm" (ngSubmit)="addGame(postForm.value)">
                <div class="input-group">
                    <span class="input-group-text">image</span>
                    <input type="text" class="form-control" ngModel name="image">
                </div>
                <div class="input-group">
                    <span class="input-group-text">color</span>
                    <input type="text" class="form-control" ngModel name="color">
                </div>
                <div class="input-group">
                    <span class="input-group-text">type</span>
                    <input type="text" class="form-control" ngModel name="type">
                </div>
                <button class="btn" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>