<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-bottom: 500px;">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <button class="btn first-inner border-0" style="background-image: linear-gradient(0deg,#840304,transparent); color: #efefef;">
            Anime
            <img class="d-block w-100" src="assets/anime.png" >
        </button>
        <button class="btn second-inner border-0" style="background-image: linear-gradient(0deg,#010189,transparent); color: #efefef;">
            Puzzle
            <img class="d-block w-100" src="assets/puzzle.png">
        </button>
        <button class="btn third-inner border-0" style="background-image: linear-gradient(0deg,#b6850b,transparent); color: #efefef;">
          Free to Play
          <img class="d-block w-100" src="assets/freetoplay.png" >
        </button>
        <button class="btn fourth-inner border-0" style="background-image: linear-gradient(0deg,#006401,transparent); color: #efefef;">
          City & Settlement
          <img class="d-block w-100" src="assets/strategy_cities_settlements.png">
        </button>
      </div>
      <div class="carousel-item" >
        <button class="btn first-inner border-0" style="background-image: linear-gradient(0deg,#018788,transparent); color: #efefef;">
            Role-Playing
            <img class="d-block w-100" src="assets/rpg.png">
        </button>
        <button class="btn second-inner border-0" style="background-image: linear-gradient(0deg,#840386 ,transparent); color: #efefef;">
            Sci-fi & Cyberpunk
            <img class="d-block w-100" src="assets/science_fiction.png">
        </button>
        <button class="btn third-inner border-0" style="background-image: linear-gradient(0deg,#da8504 ,transparent); color: #efefef;">
          Survival
          <img class="d-block w-100" src="assets/survival.png">
        </button>
        <button class="btn fourth-inner border-0" style="background-image: linear-gradient(0deg,#820304,transparent); color: #efefef;">
          Story-Rich
          <img class="d-block w-100" src="assets/story_rich.png">
        </button>
      </div>
      <div class="carousel-item" >
        <button class="btn first-inner border-0" style="background-image: linear-gradient(0deg, #020385, transparent); color: #efefef;">
            Horror
            <img class="d-block w-100" src="assets/horror.png">
        </button>
        <button class="btn second-inner border-0" style="background-image: linear-gradient(0deg, #AD800f, transparent); color: #efefef;">
            Virtual Reality Titles
            <img class="d-block w-100" src="assets/vr.png">
        </button>
        <button class="btn third-inner border-0" style="background-image: linear-gradient(0deg, #020385, transparent); color: #efefef;">
          All Sports
          <img class="d-block w-100" src="assets/sports.png">
        </button>
        <button class="btn fourth-inner border-0" style="background-image: linear-gradient(0deg, #026004, transparent); color: #efefef;">
          Strategy
          <img class="d-block w-100" src="assets/strategy.png">
        </button>
      </div>
      <div class="carousel-item" >
        <button class="btn first-inner border-0" style="background-image: linear-gradient(0deg, #890189, transparent); color: #efefef;">
            Great On Deck
            <img class="d-block w-100" src="assets/greatondeck.png">
        </button>
        <button class="btn second-inner border-0" style="background-image: linear-gradient(0deg, #e18802, transparent); color: #efefef;">
            Simulation
            <img class="d-block w-100" src="assets/simulation.png">
        </button>
        <button class="btn third-inner border-0" style="background-image: linear-gradient(0deg, #860102, transparent); color: #efefef;">
          Rogue-Like
          <img class="d-block w-100" src="assets/rogue_like_rogue_lite.png">
        </button>
        <button class="btn fourth-inner border-0" style="background-image: linear-gradient(0deg, #010286, transparent); color: #efefef;">
          Adventure
          <img class="d-block w-100" src="assets/adventure.png">
        </button>
      </div>
      <div class="carousel-item" >
        <button class="btn first-inner border-0" style="background-image: linear-gradient(0deg, #B5840B, transparent); color: #efefef;">
            Fighting
            <img class="d-block w-100" src="assets/fighting_martial_arts.png">
        </button>
        <button class="btn second-inner border-0" style="background-image: linear-gradient(0deg, #016203, transparent); color: #efefef;">
            Open World
            <img class="d-block w-100" src="assets/exploration_open_world.png" >
        </button>
        <button class="btn third-inner border-0" style="background-image: linear-gradient(0deg, #018687, transparent); color: #efefef;">
          Action
          <img class="d-block w-100" src="assets/action.png">
        </button>
        <button class="btn fourth-inner border-0" style="background-image: linear-gradient(0deg, #850287, transparent); color: #efefef;">
          Co-Operative
          <img class="d-block w-100" src="assets/multiplayer_coop.png">
        </button>
      </div>
    </div>
    <a class="carousel-control-prev prev-margin" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next left-slider next-margin" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>