<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <button class="btn btn-dark red-gradient first-inner">
            Horror
            <img class="d-block w-100" src="assets/horror.png">
        </button>
        <button class="btn btn-dark red-gradient second-inner">
            Horror
            <img class="d-block w-100" src="assets/horror.png">
        </button>
        <button class="btn btn-dark red-gradient third-inner">
            Horror
            <img class="d-block w-100" src="assets/horror.png">
        </button>
    </div>
    </div>
    <a class="carousel-control-prev prev-margin" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next left-slider next-margin" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>