<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <div class="row" style="height: max-content;">
        <li class="col-3" *ngFor="let card of cards | slice:0:4">
          <app-card image={{card.image}} color={{card.color}} type={{card.type}}> </app-card>
        </li>
      </div>
    </div>
  <div class="carousel-item" >
    <div class="row" style="height: max-content;">
      <li class="col-3" *ngFor="let card of cards | slice:4:8">
        <app-card image={{card.image}} color={{card.color}} type={{card.type}}> </app-card>
      </li>
    </div>
  </div>
  <div class="carousel-item" >
    <div class="row" style="height: max-content;">
      <li class="col-3" *ngFor="let card of cards | slice:8:12">
        <app-card image={{card.image}} color={{card.color}} type={{card.type}}> </app-card>
      </li>
    </div>
  </div>
  <div class="carousel-item" >
    <div class="row" style="height: max-content;">
      <li class="col-3" *ngFor="let card of cards | slice:12:16">
        <app-card image={{card.image}} color={{card.color}} type={{card.type}}> </app-card>
      </li>
    </div>
  </div>
  <div class="carousel-item" >
    <div class="row" style="height: max-content;">
      <li class="col-3" *ngFor="let card of cards | slice:16:20">
        <app-card image={{card.image}} color={{card.color}} type={{card.type}}> </app-card>
      </li>
    </div>
  </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
