<div class="row">
    <div class="col-2">
        <app-side-menu></app-side-menu>
    </div>
    <div class="col-8">
        <div class="row">
            <app-top-navigation-two> </app-top-navigation-two>
        </div>
        <div class="row" style="height: 10%;">
            <div style="color: aliceblue;">BROWSE STEAM</div>
            <app-browse-menu> </app-browse-menu>
        </div>
        <div class="row" style="height:90%;">
            <app-carouselone></app-carouselone>
        </div>
    </div>
    <div class="col-2"></div>
</div>